.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.color-red {
  color: #c82021 !important;
}

.top-search-bar {
  border-radius: 0;
  box-sizing: border-box;
}
.top-search-bar .btn-grp {
  flex: 0 0 44px;
  border: 1px solid #c82021;
  border: 0 none;
  background: #c82021;
  background-size: 16px 17px;
  -webkit-appearance: none;
  outline: none;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  border-radius: 0 2px 2px 0;
}

.navbar-items > button:not(:last-child) {
  margin-right: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
